<?xml version="1.0"?>

<configuration>
  <appSettings/>
 
  <connectionStrings>
    <add name="db" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Epp.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
      
        <compilation   debug="true"  targetFramework="4.0" />

    </system.web>

</configuration>
